Repository wireapp/core-crypto, pull requests merged in 2022-11, with the labels that each got.

#167 feat: Expose session exists through the ffi - CL-101
  crypto-ffi/bindings/js/CoreCrypto.ts
  crypto-ffi/bindings/kt/com/wire/crypto/CoreCrypto.kt
  crypto-ffi/bindings/swift/Sources/CoreCrypto/CoreCrypto.swift
  crypto-ffi/bindings/swift/Sources/CoreCryptoSwift/CoreCryptoSwift.swift
  crypto-ffi/bindings/swift/lib/core_cryptoFFI.h
  crypto-ffi/src/CoreCrypto.udl
  crypto-ffi/src/generic.rs
  crypto-ffi/src/wasm.rs
  crypto/src/lib.rs
  crypto/src/proteus.rs
Labels: target:ios, target:android, target:wasm, proteus

#168 fix!: Incorrect handling of enums across WASM FFI [CL-104]
  crypto-ffi/bindings/js/CoreCrypto.ts
  crypto-ffi/bindings/js/test/CoreCrypto.test.js
  crypto-ffi/src/wasm.rs
Labels: target:wasm, api:breaking

#160 test: pure ciphertext
  Cargo.toml
  crypto/src/mls/conversation/mod.rs
  crypto/src/test_utils/fixtures.rs
Labels: crypto/rng, housekeeping

#171 Release 0.6.0-pre.4
  CHANGELOG.md
  CHANGELOG.tpl
  crypto-attributes/Cargo.toml
  crypto-ffi/Cargo.toml
  crypto/Cargo.toml
  interop/Cargo.toml
  keystore/Cargo.toml
  kotlin/android/build.gradle.kts
  kotlin/jvm/build.gradle.kts
  mls-provider/Cargo.toml
  package.json
Labels: release

#173 feat: support deferred MLS initialization for proteus purposes [CL-106]
  crypto-ffi/bindings/js/CoreCrypto.ts
  crypto-ffi/bindings/kt/com/wire/crypto/CoreCrypto.kt
  crypto-ffi/bindings/swift/Sources/CoreCrypto/CoreCrypto.swift
  crypto-ffi/bindings/swift/Sources/CoreCryptoSwift/CoreCryptoSwift.swift
  crypto-ffi/bindings/swift/lib/core_cryptoFFI.h
  crypto-ffi/src/CoreCrypto.udl
  crypto-ffi/src/generic.rs
  crypto-ffi/src/wasm.rs
  crypto/benches/create_group.rs
  crypto/benches/utils.rs
  crypto/src/error.rs
  crypto/src/lib.rs
  crypto/src/mls/conversation/handshake.rs
  crypto/src/mls/conversation/mod.rs
  crypto/src/mls/credential.rs
  crypto/src/mls/external_commit.rs
  crypto/src/mls/external_proposal.rs
  crypto/src/mls/mod.rs
  crypto/src/proteus.rs
  crypto/src/test_utils/central.rs
  crypto/src/test_utils/fixtures.rs
  crypto/src/test_utils/mod.rs
  interop/src/clients/corecrypto/native.rs
  interop/src/main.rs
Labels: enhancement, proteus

#172 feat: Expose proteus session fingerprints (local and remote) - CL-108
  crypto-ffi/README.md
  crypto-ffi/bindings/js/CoreCrypto.ts
  crypto-ffi/bindings/kt/com/wire/crypto/CoreCrypto.kt
  crypto-ffi/bindings/swift/Sources/CoreCrypto/CoreCrypto.swift
  crypto-ffi/bindings/swift/Sources/CoreCryptoSwift/CoreCryptoSwift.swift
  crypto-ffi/bindings/swift/lib/core_cryptoFFI.h
  crypto-ffi/src/CoreCrypto.udl
  crypto-ffi/src/generic.rs
  crypto-ffi/src/wasm.rs
  crypto/src/proteus.rs
Labels: target:ios, target:android, target:wasm, proteus

#179 feat: Expose proteus prekey fingerprint - CL-107
  crypto-ffi/bindings/js/CoreCrypto.ts
  crypto-ffi/bindings/kt/com/wire/crypto/CoreCrypto.kt
  crypto-ffi/bindings/swift/Sources/CoreCrypto/CoreCrypto.swift
  crypto-ffi/bindings/swift/Sources/CoreCryptoSwift/CoreCryptoSwift.swift
  crypto-ffi/bindings/swift/lib/core_cryptoFFI.h
  crypto-ffi/src/CoreCrypto.udl
  crypto-ffi/src/generic.rs
  crypto-ffi/src/wasm.rs
  crypto/src/proteus.rs
Labels: target:ios, target:android, target:wasm, proteus

#174 feat!: client_id as byte array everywhere
  crypto-ffi/bindings/js/CoreCrypto.ts
  crypto-ffi/bindings/swift/Sources/CoreCrypto/CoreCrypto.swift
  crypto-ffi/src/CoreCrypto.udl
  crypto-ffi/src/generic.rs
  crypto-ffi/src/wasm.rs
  crypto/benches/utils.rs
  crypto/src/mls/conversation/mod.rs
  crypto/src/mls/mod.rs
  crypto/src/proteus.rs
  crypto/src/test_utils/mod.rs
  interop/src/clients/corecrypto/native.rs
  interop/src/main.rs
Labels: api:breaking

#176 bench: more ciphersuites and compare MLS to Proteus
  crypto/Cargo.toml
  crypto/benches/commit.rs
  crypto/benches/create_group.rs
  crypto/benches/encryption.rs
  crypto/benches/key_package.rs
  crypto/benches/mls_proteus.rs
  crypto/benches/proposal.rs
  crypto/benches/public_group_state.rs
  crypto/benches/scripts/run.sh
  crypto/benches/scripts/test.sh
  crypto/benches/utils/mls.rs
  crypto/benches/utils/mod.rs
  crypto/benches/utils/proteus_bench.rs
Labels: housekeeping, tooling, proteus

#178 feat!: simplify configuration
  crypto-ffi/bindings/js/CoreCrypto.ts
  crypto-ffi/bindings/swift/Sources/CoreCrypto/CoreCrypto.swift
  crypto-ffi/src/CoreCrypto.udl
  crypto-ffi/src/generic.rs
  crypto-ffi/src/wasm.rs
  crypto/benches/create_group.rs
  crypto/benches/encryption.rs
  crypto/benches/utils/mls.rs
  crypto/src/lib.rs
  crypto/src/mls/conversation/config.rs
  crypto/src/mls/conversation/decrypt.rs
  crypto/src/mls/conversation/encrypt.rs
  crypto/src/mls/conversation/export.rs
  crypto/src/mls/conversation/handshake.rs
  crypto/src/mls/conversation/merge.rs
  crypto/src/mls/conversation/mod.rs
  crypto/src/mls/conversation/renew.rs
  crypto/src/mls/credential.rs
  crypto/src/mls/external_commit.rs
  crypto/src/mls/external_proposal.rs
  crypto/src/mls/mod.rs
  crypto/src/mls/proposal.rs
  crypto/src/test_utils/central.rs
  crypto/src/test_utils/fixtures.rs
  interop/src/clients/corecrypto/native.rs
  keystore/src/connection/platform/generic/migrations/V1__schema.sql
  keystore/src/entities/mls.rs
  keystore/src/entities/platform/generic/mls/group.rs
  keystore/src/entities/platform/generic/mls/mod.rs
  keystore/src/entities/platform/generic/mls/pending_group.rs
  keystore/src/mls.rs
Labels: api:breaking, housekeeping
